<h1>{{pageData.heading}}</h1>

<form id="registerForm">

<label for="email">Email</label>
<input type="email" class="form-control" ng-model="email" required>

<label for="password">Password</label>
<input type="password" class="form-control" ng-model="password">

<label for="repeat-password">Repeat Password</label>
<input type="password" class="form-control" ng-model="repeatPassword" ng-change="checkMatch()">
<p ng-show="!passwordMatch">Passwords do not match</p>

<button class="btn btn-primary" ng-click="register()" data-ng-disabled="formCheck()">Register</button>

</form>